## **Proyecto Integrador MNA 2024** 
### STA Budget & Travels Analytics & Forecast

#### **EQUIPO 23**
#### Diana Aguilera Maturano A01745249
#### Humberto Lozano A01363184

In [5]:
!pip install seaborn

Looking in indexes: https://pjfrog%40ford.com:****@jfrog.ford.com/artifactory/api/pypi/pyserv-py310-gold-local/simple
Collecting seaborn
  Downloading https://jfrog.ford.com/artifactory/api/pypi/pyserv-py310-gold-local/seaborn/0.13.2/seaborn-0.13.2-py3-none-any.whl (294 kB)
     ------------------------------------ 294.9/294.9 kB 492.5 kB/s eta 0:00:00
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\daguile2\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\daguile2\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\daguile2\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (3.9.0)
Requirement already satisfied: packaging>=20.0 in c:\users\daguile2\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\daguile2\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: pillow>=8 in c:\users\daguile2\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\daguile2\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.0)
Requirement already satisfied: cycler>=0.10 in c:\users\daguile2\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\daguile2\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\daguile2\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\daguile2\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\daguile2\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\daguile2\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\daguile2\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
#importar las librerías necesarias
import pandas as pd
import pandas_gbq

from google.cloud.bigquery import Client
from google.cloud import storage
from os import (path as os_path, environ)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Conexión  las credenciales del proyecto de google cloud para importar la data
bq_client=Client()
if 'GCP_PROJECT_ID' in environ.keys():
   gcp_project_id=environ['GCP_PROJECT_ID']
else:
  gcp_project_id=bq_client.project 

#table_name=gcp_project_id + ".M9.IUMPR_Report_Python_Reordered"
ter_Table="ford-fc265a0e4259df00a3673ab7.INN_PROJ_STA.STA_Concur_Table"

query = f"SELECT * FROM `{ter_Table}`"

#creación de tabla en dataframe para hacer el análisis de la data

entire_table = pandas_gbq.read_gbq(query, project_id = gcp_project_id, index_col=None, col_order=None, reauth=False, auth_local_webserver=True, dialect=None, location=None, configuration=None, credentials=None, use_bqstorage_api=None, max_results=None, progress_bar_type=None)

c:\Users\DAGUILE2\AppData\Local\Programs\Python\Python310\lib\site-packages\google\auth\_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=725825577420-unm2gnkiprugilg743tkbig250f4sfsj.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=xJwNAgnp9gGSuv6W8isTK6KritzG6D&prompt=consent&access_type=offline

## **1. Análisis exploratorio de los datos**

In [3]:
entire_table.head()

,df_row_created_date,df0rsh_alloc_custom_1_x,df0rsh_emp_d,df0rsh_emp_deflt_crcy_alpha_c,df0rsh_emp_org_unit1_x,df0rsh_emp_org_unit2_x,df0rsh_emp_org_unit3_x,df0rsh_emp_org_unit4_x,df0rsh_emp_org_unit6_x,df0rsh_mkt_c,...,df0rsh_rpt_ent_txn_y,df0rsh_rpt_ent_vndr_x,df0rsh_rpt_ent_x,df0rsh_rpt_k,df0rsh_rpt_n,df0rsh_rpt_org_unt_1_x,df0rsh_rpt_org_unt_3_x,df0rsh_rpt_submt_y,Total_Approved,Total_Posted
0,2022-01-06 09:20:33+00:00,MEX,52587,MXN,MEX,MEX,6720,0651E112,10,AGUASCALIENTES,...,2021-11-17,CAPUFE,None,3872763,B0168J-EXPENSES NOV 15 2021,MEX,6720,2022-01-04,6898.7,9898.7
1,2022-01-06 09:20:33+00:00,MEX,52587,MXN,MEX,MEX,6720,0651E112,10,None,...,2021-11-17,None,None,3872763,B0168J-EXPENSES NOV 15 2021,MEX,6720,2022-01-04,6898.7,9898.7
2,2022-01-06 09:20:33+00:00,MEX,52587,MXN,MEX,MEX,6720,0651E112,10,IRAPUATO,...,2021-11-17,STAYBRIDGE SUITES IRAP,None,3872763,B0168J-EXPENSES NOV 15 2021,MEX,6720,2022-01-04,6898.7,9898.7
3,2022-01-06 09:20:33+00:00,MEX,52587,MXN,MEX,MEX,6720,0651E112,10,AGUASCALIENTES,...,2021-11-18,None,None,3872763,B0168J-EXPENSES NOV 15 2021,MEX,6720,2022-01-04,6898.7,9898.7
4,2022-01-06 09:20:33+00:00,MEX,52587,MXN,MEX,MEX,6720,0651E112,10,AGUASCALIENTES,...,2021-11-18,CAPUFE,None,3872763,B0168J-EXPENSES NOV 15 2021,MEX,6720,2022-01-04,6898.7,9898.7

In [4]:
entire_table.tail()

,df_row_created_date,df0rsh_alloc_custom_1_x,df0rsh_emp_d,df0rsh_emp_deflt_crcy_alpha_c,df0rsh_emp_org_unit1_x,df0rsh_emp_org_unit2_x,df0rsh_emp_org_unit3_x,df0rsh_emp_org_unit4_x,df0rsh_emp_org_unit6_x,df0rsh_mkt_c,...,df0rsh_rpt_ent_txn_y,df0rsh_rpt_ent_vndr_x,df0rsh_rpt_ent_x,df0rsh_rpt_k,df0rsh_rpt_n,df0rsh_rpt_org_unt_1_x,df0rsh_rpt_org_unt_3_x,df0rsh_rpt_submt_y,Total_Approved,Total_Posted
87313,2024-10-04 13:31:13.490211+00:00,MEX,2649475,MXN,MEX,MEX,6720,0651E112,10,MONTERREY,...,2024-09-10,None,None,4736802,SOGEFI SUPPLIER VISIT,MEX,6720,2024-10-02,9507.13,9507.13
87314,2024-10-04 13:31:13.490211+00:00,MEX,2649475,MXN,MEX,MEX,6720,0651E112,10,MONTERREY,...,2024-09-12,HERTZ APTO MTY MXN,None,4736802,SOGEFI SUPPLIER VISIT,MEX,6720,2024-10-02,9507.13,9507.13
87315,2024-10-04 13:31:13.490211+00:00,MEX,2649475,MXN,MEX,MEX,6720,0651E112,10,MONTERREY,...,2024-09-10,HOLIDAY INN APODACA,None,4736802,SOGEFI SUPPLIER VISIT,MEX,6720,2024-10-02,9507.13,9507.13
87316,2024-10-04 13:31:13.490211+00:00,MEX,2649475,MXN,MEX,MEX,6720,0651E112,10,MONTERREY,...,2024-09-12,OXXO GAS KRONOS,None,4736802,SOGEFI SUPPLIER VISIT,MEX,6720,2024-10-02,9507.13,9507.13
87317,2024-10-04 13:31:13.490211+00:00,MEX,2649475,MXN,MEX,MEX,6720,0651E112,10,MONTERREY,...,2024-09-10,HOLIDAY INN APODACA,None,4736802,SOGEFI SUPPLIER VISIT,MEX,6720,2024-10-02,9507.13,9507.13

In [5]:
entire_table.shape

(87318, 37)

### **1a. Análisis descriptivo (univariante)**

In [6]:
#analizamos el tipo de dato que tienes nuestras variables
entire_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87318 entries, 0 to 87317
Data columns (total 37 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   df_row_created_date             87318 non-null  datetime64[us, UTC]
 1   df0rsh_alloc_custom_1_x         87318 non-null  object
 2   df0rsh_emp_d                    87318 non-null  object
 3   df0rsh_emp_deflt_crcy_alpha_c   87318 non-null  object
 4   df0rsh_emp_org_unit1_x          87318 non-null  object
 5   df0rsh_emp_org_unit2_x          87318 non-null  object
 6   df0rsh_emp_org_unit3_x          87318 non-null  object
 7   df0rsh_emp_org_unit4_x          87318 non-null  object
 8   df0rsh_emp_org_unit6_x          87318 non-null  object
 9   df0rsh_mkt_c                    87048 non-null  object
 10  df0rsh_rpt_custom_1_x           87318 non-null  object
 11  df0rsh_rpt_custom_13_x          87318 non-null  object
 12  df0rsh_rpt_custom_14_x          72933 non-null  object
 13  df0rsh_rpt_custom_17_x          87318 non-null  object
 14  df0rsh_rpt_custom_20_x          87318 non-null  object
 15  Total_Approved_Enter            87318 non-null  float64
 16  df0rsh_rpt_ent_crcy_alpha_c     87318 non-null  object
 17  df0rsh_rpt_ent_custom_18_x      1505 non-null   object
 18  df0rsh_rpt_ent_custom_35_x      87048 non-null  object
 19  Cost1                           87318 non-null  float64
 20  Cost2                           0 non-null      float64
 21  df0rsh_rpt_ent_d                87318 non-null  object
 22  df0rsh_rpt_ent_forgn_or_dom_f   87318 non-null  object
 23  df0rsh_rpt_ent_loc_cntry_sub_c  72246 non-null  object
 24  Cost3                           87318 non-null  float64
 25  Total_Taxes                     87318 non-null  float64
 26  df0rsh_rpt_ent_expns_typ_n      87318 non-null  object
 27  df0rsh_rpt_ent_txn_y            87318 non-null  dbdate
 28  df0rsh_rpt_ent_vndr_x           59094 non-null  object
 29  df0rsh_rpt_ent_x                35 non-null     object
 30  df0rsh_rpt_k                    87318 non-null  object
 31  df0rsh_rpt_n                    87318 non-null  object
 32  df0rsh_rpt_org_unt_1_x          87318 non-null  object
 33  df0rsh_rpt_org_unt_3_x          87318 non-null  object
 34  df0rsh_rpt_submt_y              87318 non-null  dbdate
 35  Total_Approved                  87318 non-null  float64
 36  Total_Posted                    87318 non-null  float64
dtypes: datetime64[us, UTC](1), dbdate(2), float64(7), object(27)
memory usage: 24.6+ MB

NOTA: Para la tabla "entire_table" tenemos 7 varaibles numéricas, 2 de tipo fecha, 1 de timestamp y 29 de tipo categóricas

In [7]:
#analizamos los valores nulos para saber si todavía hay columnas que debemos de eliminar.
suma_null = entire_table.isna().sum()
porcentaje = (suma_null*100)/len(entire_table)
porcentaje

df_row_created_date                 0.000000
df0rsh_alloc_custom_1_x             0.000000
df0rsh_emp_d                        0.000000
df0rsh_emp_deflt_crcy_alpha_c       0.000000
df0rsh_emp_org_unit1_x              0.000000
df0rsh_emp_org_unit2_x              0.000000
df0rsh_emp_org_unit3_x              0.000000
df0rsh_emp_org_unit4_x              0.000000
df0rsh_emp_org_unit6_x              0.000000
df0rsh_mkt_c                        0.309215
df0rsh_rpt_custom_1_x               0.000000
df0rsh_rpt_custom_13_x              0.000000
df0rsh_rpt_custom_14_x             16.474266
df0rsh_rpt_custom_17_x              0.000000
df0rsh_rpt_custom_20_x              0.000000
Total_Approved_Enter                0.000000
df0rsh_rpt_ent_crcy_alpha_c         0.000000
df0rsh_rpt_ent_custom_18_x         98.276415
df0rsh_rpt_ent_custom_35_x          0.309215
Cost1                               0.000000
Cost2                             100.000000
df0rsh_rpt_ent_d                    0.000000
df0rsh_rpt_ent_forgn_or_dom_f       0.000000
df0rsh_rpt_ent_loc_cntry_sub_c     17.261046
Cost3                               0.000000
Total_Taxes                         0.000000
df0rsh_rpt_ent_expns_typ_n          0.000000
df0rsh_rpt_ent_txn_y                0.000000
df0rsh_rpt_ent_vndr_x              32.323232
df0rsh_rpt_ent_x                   99.959917
df0rsh_rpt_k                        0.000000
df0rsh_rpt_n                        0.000000
df0rsh_rpt_org_unt_1_x              0.000000
df0rsh_rpt_org_unt_3_x              0.000000
df0rsh_rpt_submt_y                  0.000000
Total_Approved                      0.000000
Total_Posted                        0.000000
dtype: float64

NOTA:Con este análisis observamos que Cost2 es una columna que es completamente nula por lo que la eliminaremos del dataset. al igual df0rsh_rpt_ent_custom_18_x

In [8]:
#hacemos la eliminación de dos columnas en un nuevo df y volvemos a anlizar los nulos. 
entire_table1 = entire_table.drop(['Cost2','df0rsh_rpt_ent_custom_18_x'], axis=1)
suma_null = entire_table1.isna().sum()
porcentaje = (suma_null*100)/len(entire_table)
porcentaje

df_row_created_date                0.000000
df0rsh_alloc_custom_1_x            0.000000
df0rsh_emp_d                       0.000000
df0rsh_emp_deflt_crcy_alpha_c      0.000000
df0rsh_emp_org_unit1_x             0.000000
df0rsh_emp_org_unit2_x             0.000000
df0rsh_emp_org_unit3_x             0.000000
df0rsh_emp_org_unit4_x             0.000000
df0rsh_emp_org_unit6_x             0.000000
df0rsh_mkt_c                       0.309215
df0rsh_rpt_custom_1_x              0.000000
df0rsh_rpt_custom_13_x             0.000000
df0rsh_rpt_custom_14_x            16.474266
df0rsh_rpt_custom_17_x             0.000000
df0rsh_rpt_custom_20_x             0.000000
Total_Approved_Enter               0.000000
df0rsh_rpt_ent_crcy_alpha_c        0.000000
df0rsh_rpt_ent_custom_35_x         0.309215
Cost1                              0.000000
df0rsh_rpt_ent_d                   0.000000
df0rsh_rpt_ent_forgn_or_dom_f      0.000000
df0rsh_rpt_ent_loc_cntry_sub_c    17.261046
Cost3                              0.000000
Total_Taxes                        0.000000
df0rsh_rpt_ent_expns_typ_n         0.000000
df0rsh_rpt_ent_txn_y               0.000000
df0rsh_rpt_ent_vndr_x             32.323232
df0rsh_rpt_ent_x                  99.959917
df0rsh_rpt_k                       0.000000
df0rsh_rpt_n                       0.000000
df0rsh_rpt_org_unt_1_x             0.000000
df0rsh_rpt_org_unt_3_x             0.000000
df0rsh_rpt_submt_y                 0.000000
Total_Approved                     0.000000
Total_Posted                       0.000000
dtype: float64

NOTA: Con una columna que contiene el 16% de nulos podemos trabajar

In [9]:
#analizaremos las variables numéricas en cuanto a su estadística descriptiva. 
entire_table1.describe()

,Total_Approved_Enter,Cost1,Cost3,Total_Taxes,Total_Approved,Total_Posted
count,87318.000000,87318.000000,87318.000000,87318.000000,87318.000000,87318.000000
mean,949.790574,949.790574,949.790574,809.457748,15384.622143,19170.795605
std,1185.211968,1185.211968,1185.211968,2374.872766,13160.443869,15985.416146
min,-16726.040000,-16726.040000,-16726.040000,-16726.040000,-598.800000,0.000000
25%,315.000000,315.000000,315.000000,230.777500,7919.760000,10248.460000
50%,660.000000,660.000000,660.000000,582.345000,11840.000000,15085.090000
75%,1200.000000,1200.000000,1200.000000,980.000000,18024.130000,22144.340000
max,33800.000000,33800.000000,33800.000000,346834.410000,101995.700000,127922.020000

NOTA: Al tener números negativos tenemos que ajustar nuestros datos para que no afecte el modelo ya que los números negativos en la data son devoluciones a la tarjeta corporativo que se hacen un saldo a favor y queremos analizar el gasto real de dichas tarjetas que se hace por viaje.

In [10]:
#filtramos la data para que haya valores mayores a 0 
entire_table2= entire_table1[(entire_table1['Total_Approved_Enter']>0)&(entire_table1['Cost1']>0)&
(entire_table1['Cost3']>0)&(entire_table1['Total_Taxes']>0)&(entire_table1['Total_Approved'])>0]

In [11]:
#checamos otra vez la estádistica para verificar que los números sean positivos
entire_table2.describe()

,Total_Approved_Enter,Cost1,Cost3,Total_Taxes,Total_Approved,Total_Posted
count,84749.000000,84749.000000,84749.000000,84749.000000,84749.000000,84749.000000
mean,986.716961,986.716961,986.716961,841.499569,15449.570182,19254.221477
std,1176.870869,1176.870869,1176.870869,2400.794967,13225.154670,16084.917277
min,0.010000,0.010000,0.010000,0.010000,0.010000,0.000000
25%,346.000000,346.000000,346.000000,250.050000,7939.310000,10257.650000
50%,660.000000,660.000000,660.000000,620.000000,11863.130000,15117.330000
75%,1220.550000,1220.550000,1220.550000,1012.750000,18059.270000,22258.320000
max,33800.000000,33800.000000,33800.000000,346834.410000,101995.700000,127922.020000

In [12]:
print('Estadística descriptiva para variable categórica:')
entire_table2.describe(include='object')

Estadística descriptiva para variable categórica:

,df0rsh_alloc_custom_1_x,df0rsh_emp_d,df0rsh_emp_deflt_crcy_alpha_c,df0rsh_emp_org_unit1_x,df0rsh_emp_org_unit2_x,df0rsh_emp_org_unit3_x,df0rsh_emp_org_unit4_x,df0rsh_emp_org_unit6_x,df0rsh_mkt_c,df0rsh_rpt_custom_1_x,...,df0rsh_rpt_ent_d,df0rsh_rpt_ent_forgn_or_dom_f,df0rsh_rpt_ent_loc_cntry_sub_c,df0rsh_rpt_ent_expns_typ_n,df0rsh_rpt_ent_vndr_x,df0rsh_rpt_ent_x,df0rsh_rpt_k,df0rsh_rpt_n,df0rsh_rpt_org_unt_1_x,df0rsh_rpt_org_unt_3_x
count,84749,84749,84749,84749,84749,84749,84749,84749,84479,84749,...,84749,84749,69947,84749,58890,35,84749,84749,84749,84749
unique,1,219,1,1,1,1,1,1,511,4925,...,84498,2,70,26,5488,24,7818,7285,1,2
top,MEX,2223501,MXN,MEX,MEX,6720,0651E112,10,MEXICO CITY,TRAVEL EXPENSES ON SUPPLIER VISIT STA,...,54619980,HOME,MX-NLE,FIXED MEALS,CAPUFE,NEMAK RE-PPAP PROCESS,4484939,EXPENSE REPORT,MEX,6720
freq,84749,3107,84749,84749,84749,84749,84749,84749,11350,2529,...,3,71764,10353,17480,2156,5,79,294,84749,84560

In [13]:
print('Se obtiene el número de valores únicos por categoría:')
entire_table2.nunique()

Se obtiene el número de valores únicos por categoría:

df_row_created_date                 582
df0rsh_alloc_custom_1_x               1
df0rsh_emp_d                        219
df0rsh_emp_deflt_crcy_alpha_c         1
df0rsh_emp_org_unit1_x                1
df0rsh_emp_org_unit2_x                1
df0rsh_emp_org_unit3_x                1
df0rsh_emp_org_unit4_x                1
df0rsh_emp_org_unit6_x                1
df0rsh_mkt_c                        511
df0rsh_rpt_custom_1_x              4925
df0rsh_rpt_custom_13_x                4
df0rsh_rpt_custom_14_x              106
df0rsh_rpt_custom_17_x                1
df0rsh_rpt_custom_20_x             7387
Total_Approved_Enter              21185
df0rsh_rpt_ent_crcy_alpha_c          10
df0rsh_rpt_ent_custom_35_x           15
Cost1                             21185
df0rsh_rpt_ent_d                  84498
df0rsh_rpt_ent_forgn_or_dom_f         2
df0rsh_rpt_ent_loc_cntry_sub_c       70
Cost3                             21185
Total_Taxes                       18779
df0rsh_rpt_ent_expns_typ_n           26
df0rsh_rpt_ent_txn_y                990
df0rsh_rpt_ent_vndr_x              5488
df0rsh_rpt_ent_x                     24
df0rsh_rpt_k                       7818
df0rsh_rpt_n                       7285
df0rsh_rpt_org_unt_1_x                1
df0rsh_rpt_org_unt_3_x                2
df0rsh_rpt_submt_y                  798
Total_Approved                     7562
Total_Posted                       7656
dtype: int64

Observamos que las posibles variables categóricas son

pronostico de hasta X momento cuál es la tendencia - Profit, pronpostico con redes neuronales.